node_modules
media
dist

pnpm-lock*
pnpm-workspace.yaml
yarn-lock*
rolldown*

index.js
packages/

.rolldownrc

.session
.temp
.github

test*
zaileys

.changeset
.gsd
.gemini
.agent
.kelar

AGENTS.md
GEMINI.md