# Development Directories
node_modules/
examples/
media/
src/
test*/
tests/
packages/

# Config Files
.*
!.*ignore
*.log
*.config.*
tsup*
rolldown*

# Meta / Internal Build Files
pnpm-lock*
yarn-lock*
package-lock*
pnpm-workspace.yaml

# AI & Internal Tools
.session/
.temp/
.gsd/
.gemini/
.agent/
.kelar/
AGENTS.md
GEMINI.md